*{
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 5px black ;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(mixed-colors-abstract-4k-v6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-box {
    width: 55%;
    height: 70%;
    /* border: 1px white solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(158, 155, 155, 0.197);
    backdrop-filter: blur(15px);
    box-shadow: 1px 1px 20px white;
}

.upper-view {
    height: 5%;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: large;
    background-color: transparent;
    border-bottom: 1px white dotted;
    padding-bottom: 8px;
}

.upper-view h3 {
    background-color: transparent;
}

.mid-chat {
    height: 75%;
    width: 100%;
    background-color: transparent;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    gap: 15px;
}

.text-view {
    background-color: transparent;
    padding: 5px 10px;
    text-align: justify;
    width: 75%;
    align-self: flex-start;
    color: white;
}

.right-side-text {
    padding: 5px 10px;
    text-align: justify;
    background-color: transparent;
    width: 75%;
    align-self: flex-end;
    color: white;
}

.last-input{
    height: 10%;
    width: 100%;
    background-color: transparent;
    /* border: 1px white solid; */
    display: flex;
    align-items: center;
    background-color: transparent;
    border-top: 1px white dotted;
}

.last-input input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 15px;
    color: white;
    font-weight: 800;
}

.last-input input::placeholder {
    color: white;
    padding-left: 15px;
}

.last-input input:focus {
    border: none;
    outline: none;
}

button {
    padding: 10px;
    width: 17%;
    height: 80%;
    margin-right: 10px;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-weight: 800;
    border: none;
    transition: 0.3s ease-in-out;
}

button:hover{
    scale: 1.08;
    cursor: pointer;
}

.navbar {
    color: white;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 800;
    font-size: large;
}

.navbar ul li {
    /* border:1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(45px);
    transition: 0.3s ease-in-out;
}

.navbar ul li:hover {
    scale: 1.1;
    box-shadow: 1px 1px 15px white;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.127);
    backdrop-filter: blur(15px);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.first-line h4 {
    padding-bottom: 5px;
    color: white;
    font-weight: 800;
}

.first-line ul {
    list-style-type: none;
    color: white;
}

.first-line li:hover {
    scale: 1.1;
    cursor: pointer;
}

